.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.cardReg {
  border: 1px solid black;
  border-radius: 100%;
  width: 37px;
  height: 37px;
  margin-left: 10px;
  margin-top: 15px;
}

.cardReg span {
  position: relative; 
  top: 7px; 
  left: 1px;
  font-weight: 500;
}