<div class="page">
  <div class="row">

    <div class="linhaCadastro">
      <span>Instrução MIPS</span>
      <mat-form-field appearance="outline">
        <mat-select (selectionChange)="instrucaoSelecionada = $event.value">
          <mat-option *ngFor="let instrucao of tiposInstrucoes" [value]="instrucao">{{instrucao}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="linhaCadastro" *ngIf="instrucaoSelecionada.length > 0">
      <span>Registrado 1</span>
      <mat-form-field appearance="outline">
        <mat-select (selectionChange)="registrador1Selecionadol = $event.value">
          <mat-option *ngFor="let reg of opcaoRegistradores" [value]="reg">{{reg.reg}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="linhaCadastro" *ngIf="instrucaoSelecionada.length > 0">
      <span>Registrado 2</span>
      <mat-form-field appearance="outline" *ngIf="!(instrucaoSelecionada.includes('LW') || instrucaoSelecionada.includes('SW'))">
        <mat-select (selectionChange)="registrador2Selecionadol = $event.value">
          <mat-option *ngFor="let reg of opcaoRegistradores" [value]="reg">{{reg.reg}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="instrucaoSelecionada.includes('LW') || instrucaoSelecionada.includes('SW')">
        <input matInput (change)="selecionarRegistrador2($event)" type="text">
      </mat-form-field>
    </div>

    <div class="linhaCadastro" *ngIf="instrucaoSelecionada.length > 0">
      <span>Registrado 3</span>
      <mat-form-field appearance="outline">
        <mat-select (selectionChange)="registrador3Selecionadol = $event.value">
          <mat-option *ngFor="let reg of opcaoRegistradores" [value]="reg">{{reg.reg}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button class="botaoAdicionarInstr" (click)="criar()" *ngIf="instrucaoSelecionada.length > 0">
      <mat-icon>add</mat-icon>
    </button>

  </div>
  <table mat-table [dataSource]="dataSource" *ngIf="intrucaoMIPS.length > 0">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="instrucao">
      <th mat-header-cell *matHeaderCellDef> Instrução </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoInstrucao}} </td>
    </ng-container>

    <ng-container matColumnDef="registrador1">
      <th mat-header-cell *matHeaderCellDef> Registrador 1 </th>
      <td mat-cell *matCellDef="let element"> {{element.registrador1.reg}} </td>
    </ng-container>

    <ng-container matColumnDef="registrador2">
      <th mat-header-cell *matHeaderCellDef> Registrador 2 </th>
      <td mat-cell *matCellDef="let element"> {{element.registrador2.reg ? element.registrador2.reg : element.registrador2}} </td>
    </ng-container>

    <ng-container matColumnDef="registrador3">
      <th mat-header-cell *matHeaderCellDef> Registrador 3 </th>
      <td mat-cell *matCellDef="let element"> {{element.registrador3.reg}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasTabela;"></tr>
  </table>
</div>
