<div class="page">
    <div fxLayout="row" fxLayoutGap="15px">

        <div class="linhaCadastro">
            <span>Instrução MIPS</span>
            <mat-form-field appearance="outline">
                <mat-select (ngModel)="instrucaoSelecionada">
                    <mat-option *ngFor="let instrucao of tiposInstrucoes" [value]="instrucao">{{instrucao}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
    <!-- <mat-table></mat-table> -->
</div>